@use "./variables.scss" as *;

// put your custom CSS here!

@font-face {
  font-family: "GT Canon";
  src: url("/static/GT-Canon-VF.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "GT Canon";
  src: url("/static/GT-Canon-Italic-VF.woff2") format("woff2");
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "GT Canon Mono";
  src: url("/static/GT-Canon-Mono-VF.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "GT Canon Mono";
  src: url("/static/GT-Canon-Mono-Italic-VF.woff2") format("woff2");
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "GT Standard";
  src: url("/static/GT-Standard-VF.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}
